body {
    display: flex;
    flex-direction: column;
}

ul {
    color: white;
    font-size: 14px;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/*Header*/

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color:#f9faf8;
    font-size: 24px;
}

/*Top Banner*/

.topbanner {
    display: flex;
    justify-content: space-around;
    background-color:#1F2937;
    padding: 20px;
}

.maintitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 450px;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight:bolder;
}

.subcomments {
    color: #e5e7eb;
    font-size: 18px;
}

.button, .button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #3882F6;
    color:#f9faf8;
    font-weight: bold;
    padding:10px;
    margin: 10px;
    width: 75px;
    height: 5px;
}

.mainpic {
    height:500px;
    width: 500px;
    padding-left: 200px;
}

/*Image Section*/

.imagesection {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subheader {
    color:#1F2937;
    font-size: 36px;
    font-weight:900;
    padding: 20px;
}

.fourpic {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 25px;
}

.smallpic1, .smallpic2, .smallpic3, .smallpic4 {
    width: 200px;
    height: 200px;
    border-color: #3882F6;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}

/*Quote Banner*/

.quotebanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 30px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    height: 250px;
    width: 33%
}

.signature {
    font-size: 24px;
    text-align: right;
    width: 33%;
}

/*Bottom Banner*/

.bottombanner {
    display:flex;
    justify-content: center;
    padding: 30px;
    background-color: lightgrey;
}

.bluebox {
    display:flex;
    padding: 50px;
    border-radius: 10px;
    background-color: #3882F6;
    color:white;
    width: 65%;
}

.blueboxtext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    flex-grow: 3;
}

.callquote {
    font-size: 24px;
    font-weight: 900;
}

.calltext {
    font-size:18px;
    font-style: italic;
}

.button2 {
    border-color: white;
    border-style: solid;
    border-width: 1x;
}